name: Mac Build

on:
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install yt-dlp pyinstaller

    - name: Run PyInstaller
      run: |
        # Comando para dar permissao de execucao aos binarios
        chmod +x ffmpeg ffprobe

        # Compilacao em arquivo unico (onefile) com os binarios como dados
        pyinstaller --onefile --add-data "ffmpeg:." --add-data "ffprobe:." --name "BAIXADOR_MP3_COMPACTO" Baixar_mp3.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: BAIXADOR_MP3_COMPACTO_MAC
        path: dist/BAIXADOR_MP3_COMPACTO