- name: Run PyInstaller
      run: |
        # Garante que os binários locais tenham permissão antes de serem embutidos
        chmod +x ffmpeg ffprobe
        
        # Compilação
        pyinstaller --onefile --add-data "ffmpeg:." --add-data "ffprobe:." --name "BAIXADOR_MP3_COMPACTO" Baixar_mp3.py

    - name: Prepare and Zip Artifact
      run: |
        # Entra na pasta de saída
        cd dist
        # Garante que o executável gerado tenha permissão de execução
        chmod +x BAIXADOR_MP3_COMPACTO
        # Compacta em ZIP mantendo os atributos de sistema do Unix/Mac
        zip -r ../BAIXADOR_MP3_COMPACTO_MAC.zip BAIXADOR_MP3_COMPACTO

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: BAIXADOR_MP3_COMPACTO_MAC
        # Agora enviamos o ZIP, que protege o arquivo contra o "corrompimento" do Windows
        path: BAIXADOR_MP3_COMPACTO_MAC.zip
