name: Mac Build

on:
  workflow_dispatch:

jobs:
  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install yt-dlp pyinstaller

    - name: Run PyInstaller
      run: |
        # Dá permissão aos binários ffmpeg e ffprobe se estiverem na raiz
        chmod +x ffmpeg ffprobe || true
        
        # Compilação - AJUSTADO PARA baixar_mp3.py (minúsculo)
        pyinstaller --onefile --add-data "ffmpeg:." --add-data "ffprobe:." --name "BAIXADOR_MP3_COMPACTO" baixar_mp3.py

    - name: Prepare and Zip Artifact
      run: |
        cd dist
        # Garante a permissão de execução no arquivo gerado
        chmod +x BAIXADOR_MP3_COMPACTO
        # Compacta o executável para proteger as permissões no Windows
        zip ../BAIXADOR_MP3_COMPACTO_MAC.zip BAIXADOR_MP3_COMPACTO

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: BAIXADOR_MP3_COMPACTO_MAC
        path: BAIXADOR_MP3_COMPACTO_MAC.zip
